html,
body {
	margin: 0;
	height: 100%;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1c1f24;
}

.button-reset {
	user-select: none;
	display: flex;
	justify-content: right;
}

.glow-on-hover {
	font-size: 24px;
	width: 100px;
	height: 30px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}

.glow-on-hover:before {
	content: '';
	background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity .3s ease-in-out;
	border-radius: 10px;
}

.glow-on-hover:active {
	color: #000
}

.glow-on-hover:active:after {
	background: transparent;
}

.glow-on-hover:hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 10px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header img {
	width: 50px;
	height: 50px;
	margin-right: 14px;
	user-select: none;
}

.score {
	color: #fff;
	text-align: center;
	font-size: 36px;
	font-weight: 800;
	user-select: none;
}

.circle {
	position: relative;
	user-select: none;
}

.circle img {
	cursor: pointer;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 0px 0px 16px 0px rgb(138, 143, 254, 0.05);
	transition: transform 0.2s ease;
	--tiltX: 0deg;
	--tiltY: 0deg;
	transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
	user-select: none;
}

.plus-one {
	position: absolute;
	font-family: Inter;
	text-shadow: 0px 0px 4px rgb(234, 182, 64, 0.25);
	font-size: 24px;
	font-weight: 800;
	background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	pointer-events: none;
	user-select: none;
	animation: move-up 2s forwards;
}

@keyframes move-up {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(-50px);
	}
}